version: "3"
services:
  app:
    build: .
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    networks:
      caddy:
        ipv4_address: 172.29.0.69
    labels:
      caddy.email: ashen@cobaltrain.net
    restart: unless-stopped

networks:
  caddy:
    external: true

volumes:
  data: